<div class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-text"><%= link_to "Miss Carol's Ballet Boutique" home_path %></li>
				<li><%= link_to "Contact Us", contact_us_path %></li>
				<li><%= link_to "Products", product_path %></li>
				<li><%= link_to "Photos", photo_path %></a></li>
			</ul>
		</div>
	</div>
